In [2]:
import pandas as pd

In [3]:
#Reading indian female names dataset using pandas
female_names = pd.read_csv('Indian-Female-Names.csv', header=0)
female_names

                            name gender    race
0                        shivani      f  indian
1                           isha      f  indian
2                smt shyani devi      f  indian
3                          divya      f  indian
4                          mansi      f  indian
...                          ...    ...     ...
15377                 saroj devi      f  indian
15378              naina @ geeta      f  indian
15379  manju d/0 baboo lal jatav      f  indian
15380                    shivani      f  indian
15381                      nayna      f  indian

[15382 rows x 3 columns]

In [4]:
#Reading indian male names dataset using pandas
male_names = pd.read_csv('Indian-Male-Names.csv', header=0)
male_names

                      name gender    race
0                  barjraj      m  indian
1             ramdin verma      m  indian
2          sharat chandran      m  indian
3          birender mandal      m  indian
4                     amit      m  indian
...                    ...    ...     ...
14840               buddha      m  indian
14841               mukesh      m  indian
14842                 monu      m  indian
14843  govind prasad shahu      m  indian
14844               deepak      m  indian

[14845 rows x 3 columns]

In [5]:
#merging female and male dataset
data = female_names.append(male_names, ignore_index=True)
data

                      name gender    race
0                  shivani      f  indian
1                     isha      f  indian
2          smt shyani devi      f  indian
3                    divya      f  indian
4                    mansi      f  indian
...                    ...    ...     ...
30222               buddha      m  indian
30223               mukesh      m  indian
30224                 monu      m  indian
30225  govind prasad shahu      m  indian
30226               deepak      m  indian

[30227 rows x 3 columns]

In [6]:
#checking for missing data.
data.isnull().isnull().sum()

#There is no missing values in dataset.

name      0
gender    0
race      0
dtype: int64

In [7]:
#spliting data into train and test
#dividing data into a ratio of 80% training and 20% testing
from sklearn.model_selection import train_test_split

features = data['name'].astype(str)
target = data['gender'].astype(str)

X_train, X_test, y_train, y_test = train_test_split(features, target, random_state=0, test_size=0.2)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(24181,) (6046,) (24181,) (6046,)

In [8]:
# Extracting features from text files
from sklearn.feature_extraction.text import CountVectorizer
# TF-IDF
from sklearn.feature_extraction.text import TfidfTransformer
# Importing Multinomial Naive Bayes (NB) classifier.
from sklearn.naive_bayes import MultinomialNB

In [9]:
#creating a pipeline
from sklearn.pipeline import Pipeline

text_clf = Pipeline([('vect', CountVectorizer(ngram_range=(1, 1))), ('tfidf', TfidfTransformer(norm='l2', sublinear_tf=True ,use_idf=False)), ('clf', MultinomialNB(alpha=0.1))])

#model training
text_clf = text_clf.fit(X_train, y_train)

In [10]:
from sklearn.metrics import accuracy_score
predicted = text_clf.predict(X_test)
accuracy_score(y_test, predicted)

0.9083691696989745

In [11]:
#Confusion Matrix
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report 

results = confusion_matrix(y_test, predicted)
print(classification_report(y_test, predicted) )

              precision    recall  f1-score   support

           f       0.88      0.96      0.91      3105
           m       0.95      0.86      0.90      2941

    accuracy                           0.91      6046
   macro avg       0.91      0.91      0.91      6046
weighted avg       0.91      0.91      0.91      6046

In [53]:
print(text_clf.predict(("sonu", )))
print(text_clf.predict(("monu", )))
print(text_clf.predict(("kiran", )))
print(text_clf.predict(("prajakta", )))

['m']
['m']
['f']
['f']